body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    display: flex;
    flex: 1;
}
article {
    flex: 1;
}
header, footer, nav, aside {
    flex-basis: 200px;
}
article {
    order: 1;
}
aside {
    order: 2;
}