
/*opdracht 1*/
.opdracht-1 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*opdracht 2*/
.opdracht-2 ul {
    display: flex;
    flex-direction: row;
}
.opdracht-2 ul li {
    display: flex;
    flex-basis: 50%;
}
/*opdracht 3 NIET AF*/
.opdracht-3 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*border: blue solid 1px;*/
}
.opdracht-3 #top-left {
    align-self: flex-start;
}
.opdracht-3 #centered {
    align-self: center;
}
.opdracht-3 #bottom-right {
    align-self: flex-end;
}
/*opdracht 4*/
.opdracht-4 ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
/*opdracht 5 NIET AF*/

.opdracht-5 {
    display: flex;
}
.opdracht-5 div {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    /*border: blue solid 1px;*/
}
.opdracht-5 ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*border: 1px dashed red;*/
}
.opdracht-5 #column-1 {
    align-items: flex-start;
}
.opdracht-5 #column-2 {
    align-items: center;
}
.opdracht-5 #column-3 {
    align-items: flex-end;
}