body {
    display: flex;
    height: 100vh;
}
div {
    display: flex;
    flex-direction: column;
    flex: 1;
}
main {
    display: flex;
    flex: 1 auto;
}
article {
    display: flex;
    flex: 1 100%;
}
nav header footer {
    display: flex;
    flex: 0 0 auto;
}
