body {
    display: flex;
    min-height: 100vh;
}
div {
    display: flex;
    flex-direction: column;
    flex: 1;
}
main {
    display: flex;
    flex: 1;
}
article {
    flex: 1;
}
header, footer, nav {
    flex: 0 0 200px;
}
